/*------------------------------------------------
    blog style
------------------------------------------------*/
.single-blog-inner {
    margin-bottom: 0px;    
    overflow: hidden;
    border-radius: 7px;
    transition: 0.4s;
    box-shadow: $box-shadow;
    .thumb {
        position: relative;
        overflow: hidden;
        img {
            transform: scale(1);
            transition: 0.9s;
            width: 100%;
        }
        .date {
            position: absolute;
            left: 30px;
            bottom: 20px;
            height: 35px;
            line-height: 35px;
            padding: 0 15px;
            background: var(--main-color);
            display: inline-block;
            color: #fff;
            border-radius: 2px;
        }
        .video-play-btn {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
        }
        .blog-slider {
            .owl-nav {
                button {
                    width: 60px;
                    height: 60px;
                    background: #fff;
                    border-radius: 50%;
                    border: 0;
                    position: absolute;
                    top: 50%;
                    transform: translate(0, -50%);
                    transition: $transition;
                    font-size: 24px;
                    &:hover {
                        background: #3D72FC;
                        color: #fff;
                    }
                    &.owl-prev {
                        left: 30px;
                    }
                    &.owl-next {
                        right: 30px;
                    }
                }
            }
        }
    }
    .blog-meta {
        margin: 0;
        padding: 0;
        margin-bottom: 14px;
        border-bottom: 1px solid #e6e8eb;
        padding-bottom: 18px;
        display: flex;
        justify-content: space-between;
        li {
            display: inline-block;
            color: var(--heading-color);
            i {
                margin-right: 4px;
                color: var(--main-color);
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .details {
        padding: 23px 30px 25px 30px;
        span {
            color: var(--main-color);
            font-size: 14px;
            margin-bottom: 7px;
            display: inline-block;
        }
        h4 {
            margin-bottom: 15px;
            font-size: 24px;
            line-height: initial;
            font-weight: 400;
            &:hover a {
                color: var(--main-color);
            }
        }
        .title {
            margin-bottom: 15px;
            a {
                color: var(--heading-color);
            }
        }
        p {
            margin-bottom: 16px;
        }
    }
    &:hover {
        box-shadow: $box-shadow2;
        .thumb {
            img {
                transform: scale(1.05);
            }
        }
    }
    &.style-yellow {
        box-shadow: 0px 0px 1px rgba(10, 24, 81, 0.5);
        &:hover {
            box-shadow: 0px 20px 50px rgba(10, 24, 81, 0.07);
        }
        .thumb .date {
            background: #FDC400;
        }
        .read-more-text {
            color: #FDC400;
            &:after {
                background: #FDC400;
            }
        }
        &.style-four {
            box-shadow: none;
            .thumb .date {
                bottom: 70px;
                left: 20px;
                border-radius: 0;
            }
            .details {
                background: #F7FAFC;
                margin: 0 20px;
                transform: translate(0, -70px);
                padding: 23px 30px 47px 30px;
                margin-bottom: -70px;
            }
        }
    }
}

/******** blog-details-page-content ***********/
.blog-details-page-content {
    .single-blog-inner {
        box-shadow: none !important;
        border: 1px solid #e9eaea;
        .details {
            padding: 30px;
        }
    }
    blockquote {
        background: #f7f7f7;
        padding: 30px 40px;
        font-weight: 500;
        margin-top: 30px;
        margin-bottom: 30px;
        font-style: italic;
        position: relative;
        img {
            position: absolute;
            top: 30px;
            left: 30px;
        }
    }
}

/*********** tag-and-share ************/
.tag-and-share {
    border-top: 1px solid #e9eaea;
    padding-top: 17px;
    margin-top: 30px;
    .tags {
        display: inline-flex;
        gap: 10px;
        a {
            height: 32px;
            line-height: 32px;
            padding: 0 12px;
            background: var(--main-color);
            display: inline-block;
            color: #fff;
            border-radius: 0px;
        }
    }
    strong {
        color: var(--heading-color);
        margin-right: 6px;
        font-size: 20px;
    }
    .blog-share {
        ul {
            margin: 0;
            padding: 0;
            display: inline-block;
            li {
                display: inline-block;
                list-style: none;
                margin-right: 10px;
                color: #7e8699;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

/******* blog-comment *******/
.blog-comment {
    margin-top: 62px;
    .section-title {
        h3 {
            position: relative;
            padding-bottom: 10px;
            margin-bottom: 22px;
            &:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                height: 2px;
                width: 60px;
                background: var(--main-color);
            }
        }
    }
    .media {
        margin-bottom: 35px;
        padding-bottom: 28px;
        border-bottom: 1px solid #e9eaea;
        display: flex;
        a {
            flex: none;
            img {
                border-radius: 50%;
                height: 100px;
                width: 100px;
                object-fit: cover;
            }
        }
        .media-body {
            margin-left: 30px;
            position: relative;
            h5 {
                margin-bottom: 0;
            }
            .date {
                font-size: 14px;
                display: block;
                margin-top: 5px;
                margin-bottom: 13px;
            }
            p {
                color: #5a6378;
                margin-bottom: 12px;
            }
            .btn {
                position: absolute;
                right: 0;
                top: 0;
                height: 35px;
                line-height: 35px;
                font-size: 14px;
                padding: 0 15px;
            }
        }
    }
}
.blog-comment-form {
    h3 {
        position: relative;
        padding-bottom: 10px;
    }
}